.page {
    height: 100%;
    background: $bg-page linear-gradient(180deg, mix($bg-page, darken($bg-page, 50%), 5%), darken($bg-page, 20%)) repeat-x;
    color: $color-page;
    display: flex;
    flex-direction: column;
    overflow: auto;
}


.page__card {
    margin-top: 20%;
}