// CARD STRUCTURE
.card {
    display: flex;
    padding: 15px;

    &__image {
        border-radius: 5px;
        margin-top: 10px;
    }

    &__header {
        align-self: flex-start;
        margin-bottom: 10px;
    }

    &__body {
        margin-bottom: 15px;
    }

    &__footer {
        display: flex;
        justify-content: space-between;
    }
}

// CARD TEXT
.card__text {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

    &-inline {
        display: inline;
    }
}

.card__paragraph {
    margin: 5px 0;
    white-space: normal;
}

// CARD TYPES
.card__primary {
    background: $bg-card-primary;
    border: 1px solid $border-primary;
}

.card__transparent {
    background: transparent;
}

//CARD MIXIN