<section class="home">
  <div *ngFor="let repo of repos">
    <div class="card card__transparent home__card">

      <div class="card__header">
        <a [href]="repo.url" target="__blank">
          <h3 class="card__text" title="{{repo.name}}">
            {{repo.name}} 
            <i class="fa fa-external-link"></i>
          </h3>
        </a>
      </div>
  
      <div class="card__body">
        <span class="card__text" *ngIf="repo.private">Private</span>
        <span class="card__text" *ngIf="!repo.private">Public</span>
    
        <p class="card__paragraph">{{repo.description || 'No description provided'}}</p>
      </div>
  
      
      <div class="card__footer">
        <span class="card__text">{{repo.language || '--'}}</span>
  
        <span class="card__text">
          <i class="fa fa-eye"></i>
          {{repo.watchers}}
          <i class="fa fa-star"></i>
          {{repo.stargazers}}
          <i class="fa fa-code-fork"></i>
          {{repo.forks}}
        </span>
      </div>  
    </div>
    <hr/>

  </div>
</section>